/d100-s.txt
/d100.txt
/d1000-s.txt
/d10000.txt
/d16-s.txt
/d16.txt
/d500-s.txt
/d500.txt
/d5000-s.txt
/d5000.txt
/sorted_d100.txt
/sorted_d1000.txt
/sorted_d10000.txt
/sorted_d16.txt
/sorted_d500.txt
/sorted_d5000.txt